ul {
    list-style: none;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #fff;
}

.slide {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 30px;
}

.slide-content {
    display: flex;
    margin-left: -100%;
    margin-right: 100%;
}

.slide-content img {
    width: 100%;
    height: 100%;
    min-width:100%;
    max-width: 100%;
}

.slide-point {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.slide-point span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #fff;
    cursor: pointer;
}

.nav {
    flex: auto;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.nav li {
    display: flex;
    flex: auto;
}

.nav li a {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    line-height: 50px;
    padding: 0 5px;
    text-decoration: none;
    color: #333;
    min-width: 60px;
}

.nav .active {
    color: red;
}

.active span.line {
    border-top: 3px solid red;
    flex: none;
    width: 30px;
    height: 10px;
}

.container {
}

.video .title, .video .description {
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.video .title {
    color: #555;
}

.video .description {
    color: #999;
}
